playerName      paked
inventory       1 1 1 1 1
last            8

timeline        simple.timeline

# A timeline is built out of a:
# - name: a user defined name for a timeline
# - id: a unique, engine provided id
# - actions: a list of every action (in world-time order) which has happened in a timeline (mining, moving, spawning, teleporting)
#
# These actions are represented by a set of commands:
# - `SPAWN position`: for when a player enters a new timline
# - `MINE position`: for when a player breaks a block
# - `MOVE position velocity`: for when a player has moved
# - `JUMP timelineID destinationTime`: for when a player does a time travel
#
# Each different command has a `t` value recording the world-time of an action and an `s` value which tracks the order of which an action is in a player's individual timeline (used to differentiate between time-travel versions of you).
